@font-face {
  font-family: "Ruberoid Oblique";
  src: url("./public/fonts/Ruberoid-Oblique.eot");
  src: local("Ruberoid Oblique"), local("Ruberoid-Oblique"),
    url("./public/fonts/Ruberoid-Oblique.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-Oblique.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-Oblique.woff") format("woff"),
    url("./public/fonts/Ruberoid-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Ruberoid Extra";
  src: url("./public/fonts/Ruberoid-ExtraLight.eot");
  src: local("Ruberoid Extra Light"), local("Ruberoid-ExtraLight"),
    url("./public/fonts/Ruberoid-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-ExtraLight.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-ExtraLight.woff") format("woff"),
    url("./public/fonts/Ruberoid-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid Bold Oblique";
  src: url("./public/fonts/Ruberoid-BoldOblique.eot");
  src: local("Ruberoid Bold Oblique"), local("Ruberoid-BoldOblique"),
    url("./public/fonts/Ruberoid-BoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-BoldOblique.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-BoldOblique.woff") format("woff"),
    url("./public/fonts/Ruberoid-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Ruberoid";
  src: url("./public/fonts/Ruberoid-Bold.eot");
  src: local("Ruberoid Bold"), local("Ruberoid-Bold"),
    url("./public/fonts/Ruberoid-Bold.eot?#iefix") format("embedded-opentype"),
    url("./public/fonts/Ruberoid-Bold.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-Bold.woff") format("woff"),
    url("./public/fonts/Ruberoid-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid Light Oblique";
  src: url("./public/fonts/Ruberoid-LightOblique.eot");
  src: local("Ruberoid Light Oblique"), local("Ruberoid-LightOblique"),
    url("./public/fonts/Ruberoid-LightOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-LightOblique.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-LightOblique.woff") format("woff"),
    url("./public/fonts/Ruberoid-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Ruberoid Extra";
  src: url("./public/fonts/Ruberoid-ExtraBold.eot");
  src: local("Ruberoid Extra Bold"), local("Ruberoid-ExtraBold"),
    url("./public/fonts/Ruberoid-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-ExtraBold.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-ExtraBold.woff") format("woff"),
    url("./public/fonts/Ruberoid-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid Extra Bold Oblique";
  src: url("./public/fonts/Ruberoid-ExtraBoldOblique.eot");
  src: local("Ruberoid Extra Bold Oblique"), local("Ruberoid-ExtraBoldOblique"),
    url("./public/fonts/Ruberoid-ExtraBoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-ExtraBoldOblique.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-ExtraBoldOblique.woff") format("woff"),
    url("./public/fonts/Ruberoid-ExtraBoldOblique.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Ruberoid Medium Oblique";
  src: url("./public/fonts/Ruberoid-MediumOblique.eot");
  src: local("Ruberoid Medium Oblique"), local("Ruberoid-MediumOblique"),
    url("./public/fonts/Ruberoid-MediumOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-MediumOblique.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-MediumOblique.woff") format("woff"),
    url("./public/fonts/Ruberoid-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Ruberoid";
  src: url("./public/fonts/Ruberoid-Light.eot");
  src: local("Ruberoid Light"), local("Ruberoid-Light"),
    url("./public/fonts/Ruberoid-Light.eot?#iefix") format("embedded-opentype"),
    url("./public/fonts/Ruberoid-Light.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-Light.woff") format("woff"),
    url("./public/fonts/Ruberoid-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid Extra Light Oblique";
  src: url("./public/fonts/Ruberoid-ExtraLightOblique.eot");
  src: local("Ruberoid Extra Light Oblique"),
    local("Ruberoid-ExtraLightOblique"),
    url("./public/fonts/Ruberoid-ExtraLightOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-ExtraLightOblique.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-ExtraLightOblique.woff") format("woff"),
    url("./public/fonts/Ruberoid-ExtraLightOblique.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Ruberoid";
  src: url("./public/fonts/Ruberoid-Medium.eot");
  src: local("Ruberoid Medium"), local("Ruberoid-Medium"),
    url("./public/fonts/Ruberoid-Medium.eot?#iefix") format("embedded-opentype"),
    url("./public/fonts/Ruberoid-Medium.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-Medium.woff") format("woff"),
    url("./public/fonts/Ruberoid-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid Semi Bold Oblique";
  src: url("./public/fonts/Ruberoid-SemiBoldOblique.eot");
  src: local("Ruberoid Semi Bold Oblique"), local("Ruberoid-SemiBoldOblique"),
    url("./public/fonts/Ruberoid-SemiBoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-SemiBoldOblique.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-SemiBoldOblique.woff") format("woff"),
    url("./public/fonts/Ruberoid-SemiBoldOblique.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Ruberoid Thin Oblique";
  src: url("./public/fonts/Ruberoid-ThinOblique.eot");
  src: local("Ruberoid Thin Oblique"), local("Ruberoid-ThinOblique"),
    url("./public/fonts/Ruberoid-ThinOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-ThinOblique.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-ThinOblique.woff") format("woff"),
    url("./public/fonts/Ruberoid-ThinOblique.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Ruberoid Semi";
  src: url("./public/fonts/Ruberoid-SemiBold.eot");
  src: local("Ruberoid Semi Bold"), local("Ruberoid-SemiBold"),
    url("./public/fonts/Ruberoid-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-SemiBold.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-SemiBold.woff") format("woff"),
    url("./public/fonts/Ruberoid-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid";
  src: url("./public/fonts/Ruberoid-Thin.eot");
  src: local("Ruberoid Thin"), local("Ruberoid-Thin"),
    url("./public/fonts/Ruberoid-Thin.eot?#iefix") format("embedded-opentype"),
    url("./public/fonts/Ruberoid-Thin.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-Thin.woff") format("woff"),
    url("./public/fonts/Ruberoid-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid";
  src: url("./public/fonts/Ruberoid-Regular.eot");
  src: local("Ruberoid"), local("Ruberoid-Regular"),
    url("./public/fonts/Ruberoid-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-Regular.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-Regular.woff") format("woff"),
    url("./public/fonts/Ruberoid-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ruberoid Ultra Light Oblique";
  src: url("./public/fonts/Ruberoid-UltraLightOblique.eot");
  src: local("Ruberoid Ultra Light Oblique"),
    local("Ruberoid-UltraLightOblique"),
    url("./public/fonts/Ruberoid-UltraLightOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-UltraLightOblique.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-UltraLightOblique.woff") format("woff"),
    url("./public/fonts/Ruberoid-UltraLightOblique.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Ruberoid Ultra";
  src: url("./public/fonts/Ruberoid-UltraLight.eot");
  src: local("Ruberoid Ultra Light"), local("Ruberoid-UltraLight"),
    url("./public/fonts/Ruberoid-UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/Ruberoid-UltraLight.woff2") format("woff2"),
    url("./public/fonts/Ruberoid-UltraLight.woff") format("woff"),
    url("./public/fonts/Ruberoid-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

//reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  height: auto;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Ruberoid", Arial, sans-serif;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer {
  background-color: #171b20;
  color: #fff;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;

  &__content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 2rem 2rem 8rem;
    box-sizing: border-box;
  }

  &__main {
    display: grid;
    gap: 2rem;
    grid-template-columns: 40% auto auto;
    margin-bottom: 8rem;
  }

  &__down {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.75rem;
  }

  &__socials {
    display: inline-flex;
    gap: 0.75rem;
  }

  &__phone {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    display: block;
    font-weight: 600;
  }

  &__company {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__hero,
  &__legal {
    margin-top: 0.5rem;
  }

  &__legal-header {
    font-size: 0.875rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  &__address {
    margin-bottom: 1.5rem;
  }

  &__mpstats {
    color: #17bf50;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    margin-right: 3rem;
  }

  &__links {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
  }

  &__copyright {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
  }

  &__nav {
    font-family: "Roboto", Arial, sans-serif;
  }
}

.legal-item {
  display: grid;
  grid-template-columns: 40% auto;
  margin-bottom: 0.125rem;
}
